* { margin: 0; padding: 0; }

html, body {
  background-color: black;
  font-size: 12pt;
  color: white;
}

body.in_effect {
  cursor: wait;
  background-color: #333;
}

header {
  background-color: #555;
}

button {
  padding: 3px 8px;
  border-radius: 5px;
}

#main {
  padding: 10px;
}

#templates {
  display: none;
}

#stack {
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px;
}

.block {
  position: absolute;
  color: black;
  font-size: 5px;
  text-align: center;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: red;
  border: 1px solid black;
}

.main_panel() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#field {
  .main_panel;
}

#field_canvas {
  .main_panel;
}

#battle {
  .main_panel;
  background-color: #383;
  overflow-x: hidden;
}

.character {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid red;
}

.no-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.dice {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: white;
  color: black;
  line-height: 48px;
  font-size: 40px;
  text-align: center;
  border: 1px solid black;
  -webkit-user-select: none;
  .no-user-select;
}

#gamemode {
  position: relative;
  height: 200px;
  width: 100%;
}

#battle {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  display: none;
  #enemy {
    position: absolute;
    left: auto;
    right: auto;
  }
  #enemy_hp {
    position: absolute;
    width: 100px;
    height: 15px;
    border: 1px solid white;
    background-color: red;
    left: auto;
    right: auto;
    bottom: 10px;
  }
}

#hp_indicator_container {
  position: relative;
  height: 25px;
  #hp_indicator {
    position: absolute;
    left: 10px;
    top: 4px;
    right: 10px;
    bottom: 0;
    height: 15px;
    border: 1px solid pink;
    .hp_value {
      position: absolute;
      font-weight: bold;
      color: yellow;
      font-size: 15px;
      line-height: 15px;
    }
    .hp_bar {
      position: absolute;
      width: 100%;
      height: 15px;
      background-color: red;
    }
  }
}
