* { margin: 0; padding: 0; }

html, body {
  background-color: black;
  font-size: 12pt;
  color: white;
}

.transform(@param) {
  -webkit-transform: @param;
  transform: @param;
}

.no-user-select() {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body.in_effect {
  cursor: wait;
  background-color: #333;
}

header {
  background-color: #555;
}

button {
  padding: 3px 8px;
  border-radius: 5px;
}

#main {
  padding: 10px;
}

#templates {
  display: none;
}

.main_panel() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#field {
  .main_panel;
  background-image: url('../images/background_grass.jpg');
  background-size: cover;
  #field_canvas {
    .main_panel;
  }
}

#title {
  background: linear-gradient(to right bottom, salmon, purple);
  .main_panel;
  text-align: center;
  .main_menu {
    font-size: 18px;
    font-weight: bolder;
    width: 200px;
  }
}

#dicegame {
  .main_panel;
  background-color: #555;
  #players {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    bottom: 10px;
    left: 10px;
    border: 1px solid black;
    padding: 5px;
  }
  #stack {
    position: absolute;
    height: 50px;
    min-width: 200px;
    border: 1px solid white;
    border-radius: 3px;
    bottom: 0px;
    right: 0px;
    transition: opacity 0.2;
    opacity: 0.5;
    .dice {
      margin: 0 2px;
    }
    &.ready {
      opacity: 1;
      .dice {
        cursor: pointer;
        &:hover {
          .transform(scale(1.1));
        }
      }

    }
  }
  #dice_indicator {
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;
    .dice_stock {
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      color: salmon;
      min-width: 40px;
      text-align: center;
    }
  }
}

#dicegame_canvas {
  .main_panel;
}

.dicebg (@i, @size: 48px) { background-position: (-(@i - 1) * @size) 0; }

.character {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 3px;
  .multipliers {
    position: absolute;
    width: 100px;
    bottom: 103px;
    background-color: rgba(255, 255, 255, 0.8);
    color: navy;
    font-weight: bold;
    min-height: 1em;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    .dice {
      @size: 18px;
      width: @size;
      height: @size;
      background-size: (@size * 6) @size;
      &.dice1 { .dicebg(1, @size); }
      &.dice2 { .dicebg(2, @size); }
      &.dice3 { .dicebg(3, @size); }
      &.dice4 { .dicebg(4, @size); }
      &.dice5 { .dicebg(5, @size); }
      &.dice6 { .dicebg(6, @size); }
    }
  }
  .name { display: none; }
}

.dice {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url('../images/dices.png');
  background-size: (48px * 6) 48px;
  transition: 0.1s linear;
  &.dice1 { .dicebg(1); }
  &.dice2 { .dicebg(2); }
  &.dice3 { .dicebg(3); }
  &.dice4 { .dicebg(4); }
  &.dice5 { .dicebg(5); }
  &.dice6 { .dicebg(6); }
}

#gamemode {
  position: relative;
  height: 400px;
  width: 100%;
}

#battle {
  .main_panel;
  display: none;
  background-image: url('../images/background_flame.jpg');
  background-size: cover;
  #enemies {
    position: static;
    text-align: center;
    margin: 20px auto;
    vertical-align: bottom;
  }
  .enemy {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    .enemy_image {
      margin-bottom: -10px;
    }
    .enemy_name {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 18px;
      height: 20px;
      margin: 0 auto;
      line-height: 20px;
      background-color: black;
      border: 2px solid white;
      border-radius: 5px;
    }
    .enemy_hp {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 15px;
      margin-top: 3px auto 0;
      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 1px 1px 2px silver;
      .enemy_hp_bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: red;
      }
      .enemy_hp_value {
        position: absolute;
        left: 10px;
        top: 0;
        line-height: 15px;
        font-size: 15px;
        font-weight: bolder;
        color: yellow;
      }
    }
  }
  #onboard {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}

#hp_indicator {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  height: 15px;
  border: 1px solid pink;
  .hp_value {
    position: absolute;
    font-weight: bold;
    color: black;
    font-size: 15px;
    line-height: 15px;
  }
  .hp_bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fa0, #f30, #850);
  }
  .hp_healbar {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: lime;
  }
  .hp_damagebar {
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(to bottom, #800, #000);
  }
  &.healing {
    border: 1px solid yellow;
    box-shadow: 3px 3px 3px cyan;
  }
  &.damaging {
    box-shadow: 3px 3px 3px red;
  }
}

#gamelog {
  border: 1px solid white;
  font-family: monospace;
  font-size: small;
  margin: 10px;
  height: 5em;
  overflow-y: scroll;
}

.flytext {
  font-size: 40px;
  position: absolute;
  color: yellow;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

// TalkShow

.talkshow {
  .ui-dialog-content {
    background-image: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    overflow: hidden;
    p {
      position: relative;
      left: 400px;
      min-height: 100px;
      padding-left: 110px;
      margin-bottom: 3px;
      background-repeat: no-repeat;
      .character_talk(@character) {
        &.@{character} {
          padding-left: 110px;
          background-image: url('../images/@{character}_p.jpg');
        }
      }
      .character_talk(kotori);
      .character_talk(yukiho);
      .character_talk(ranko);
      .character_talk(sae);
      .character_talk(anzu);
      &.right { background-position: 240px 0; padding-left: 0; padding-right: 110px; }
    }
  }
  .ui-dialog-titlebar { display: none; }
}