* { margin: 0; padding: 0; }

html, body {
  background-color: black;
  font-size: 12pt;
  color: white;
}

body.in_effect {
  cursor: wait;
  background-color: #333;
}

header {
  background-color: #555;
}

button {
  padding: 3px 8px;
  border-radius: 5px;
}

#main {
  padding: 10px;
}

#templates {
  display: none;
}

.main_panel() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#field_canvas {
  .main_panel;
}

#dicegame {
  .main_panel;
  background-color: #555;
  #players {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    bottom: 10px;
    left: 10px;
    border: 1px solid black;
    padding: 5px;
  }
  #stack {
    position: absolute;
    border: 1px solid white;
    border-radius: 3px;
    padding: 3px;
    bottom: 10px;
    right: 10px;
    transition: opacity 0.2;
    opacity: 0.5;
    &.ready {
      opacity: 1;
    }
  }
  #dice_indicator {
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 0;
    .dice_stock {
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      color: salmon;
      min-width: 40px;
      text-align: center;
    }
    z-index: 10;
  }
}

#dicegame_canvas {
  .main_panel;
}

#battle {
  .main_panel;
  background-color: #383;
  overflow-x: hidden;
}

.character {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  .multipliers {
    background-color: white;
    color: black;
    min-height: 1em;
    width: 90px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
  }
}

.no-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.dicebg (@i) { background-position: (-@i * 48px + 48) 0; }

.dice {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url('../images/dices.png');
  background-size: (48px * 6) 48px;
  &.dice1 { .dicebg(1); }
  &.dice2 { .dicebg(2); }
  &.dice3 { .dicebg(3); }
  &.dice4 { .dicebg(4); }
  &.dice5 { .dicebg(5); }
  &.dice6 { .dicebg(6); }
}

#gamemode {
  position: relative;
  height: 400px;
  width: 100%;
}

#battle {
  .main_panel;
  display: none;
  background-color: #080;
  #enemies {
    position: static;
    text-align: center;
    border: 1px solid blue;
    min-width: 100px;
    min-height: 100px;
    margin: 20px auto;
    vertical-align: bottom;
  }
  .enemy {
    display: inline-block;
    position: relative;
    border: 1px dotted cyan;
    margin: 0 15px;
    .enemy_image {
      width: 50px;
      height: 50px;
      background-color: maroon;
      margin-bottom: -10px;
    }
    .enemy_name {
      width: 120px;
      height: 20px;
      margin: 0 auto;
      line-height: 20px;
      background-color: black;
      border: 2px solid white;
      border-radius: 5px;
      text-align: center;
    }
    .enemy_hp {
      width: 100px;
      height: 15px;
      margin-top: 3px auto 0;
      border: 1px solid white;
      background-color: red;
    }
  }
  #onboard {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}

#hp_indicator {
  position: absolute;
  left: 200px;
  top: 0px;
  right: 10px;
  height: 15px;
  border: 1px solid pink;
  .hp_value {
    position: absolute;
    font-weight: bold;
    color: yellow;
    font-size: 15px;
    line-height: 15px;
  }
  .hp_bar {
    position: absolute;
    width: 100%;
    height: 15px;
    background: linear-gradient(to bottom, #f88, #f00, #800);
  }
}

#gamelog {
  border: 1px solid white;
  font-family: monospace;
  font-size: small;
  margin: 10px;
  height: 5em;
  overflow-y: scroll;
}

// TalkShow

.talkshow {
  .ui-dialog-content {
    background-image: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    overflow-x: hidden;
    p {
      position: relative;
      left: 400px;
      min-height: 100px;
      padding-left: 110px;
      margin-bottom: 3px;
      background-repeat: no-repeat;
      .character_talk(@character) {
        &.@{character} {
          padding-left: 110px;
          background-image: url('../images/@{character}_p.jpg');
        }
      }
      .character_talk(kotori);
      .character_talk(yukiho);
      .character_talk(ranko);
      .character_talk(sae);
      .character_talk(anzu);
      &.right { background-position: 240px 0; padding-left: 0; padding-right: 110px; }
    }
  }
  .ui-dialog-titlebar { display: none; }
}