doctype html
html
  head
    meta(charset='UTF-8')
    title モバマス実録
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='http://code.createjs.com/createjs-2013.12.12.min.js')
    script(src='js/CSSPlugin.js')
    script(src='js/main.js')
    link(rel='stylesheet' href='css/style.css')
  body
    header
      h1 DICE DE モバP!
    #main
      #dicegame
        #gamemode
          canvas#field_canvas
          #field
          #battle
            #enemy
            #enemy_hp
          #treasure
        #stack
        #dice_indicator
        #hp_indicator_container
          #hp_indicator
            .hp_bar
            .hp_value
        #players
    #templates
      .character
        .name
        .hp
        .mp
      button.dice
      .block
