doctype html
html
  head
    meta(charset='UTF-8')
    title モバマス実録
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='http://code.createjs.com/createjs-2013.12.12.min.js')
    script(src='js/CSSPlugin.js')
    script(src='js/main.js')
    link(rel='stylesheet' href='css/style.css')
  body
    header
      h1 DICE DE モバP!
    #main
      #gamemode
        #title
        #option
        #gameover
        #dicegame
          canvas#dicegame_canvas
          #battle
            #enemy
            #enemy_name
            #enemy_hp
          #treasure
          #players
          #stack
          #dice_indicator
            span DICE x
            span.dice_stock
          #hp_indicator_container
            #hp_indicator
              .hp_bar
              .hp_value
    #templates
      .character
        .name
        .help
        .mp
        .charge
      button.dice
      .block
