doctype html
html
  head
    title モバマス実録
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/main.js')
    link(rel='stylesheet' href='css/style.css')
  body
    header
      h1 DICE DE モバP!
    #main
      #field_container
      #stack
      #players
    #templates
      .character
        .name
        .hp
        .mp
      .dice
      .field
      .block