doctype html
html
  head
    meta(charset='UTF-8')
    title 魂の賽
    script(src='js/lib/jquery-2.1.0.min.js')
    script(src='js/lib/jquery-ui-1.10.4.min.js')
    script(src='js/lib/createjs-2013.12.12.min.js')
    script(src='js/lib/jquery.transit.min.js')
    script(src='js/main.js')
    link(rel='stylesheet' href='css/lib/jquery-ui-1.10.4.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    #main
      #gamemode
        #option
        #dicegame
          #field
          #battle
            #enemies
            #onboard_container
              #onboard
          #treasure
          #players
          #stack
            #dice_indicator
              img.stock_img(alt="DICE",src="images/stock_dice.png")
              | x
              span.dice_stock
            .next
              span &lt;&lt;Next&nbsp;
              span.next_pips
            #select_marker ▼ダイスを選択▼
          #hp_indicator_container
            #hp_indicator
              .hp_healbar
              .hp_damagebar
              .hp_bar
              .hp_value
          #stage_end
            #stage_failed.phase_message
            #stage_failed_dice.phase_message
          #game_result
            #stage_clear.phase_message
            p 獲得経験値
              span.gain_exp
            #growth
            p
              button#result_ok OK
        #stage_select
          #chapter_selector
            #chapter_prev ←
            #chapter_list_container
              ul#chapter_list
            #chapter_next →
          #character_count
            |(
            span.selected_count
            |)
            button#open_skill_selector スキル確認
          ul#character_list
          #cheat_menu
            #unlock_all_stages 全ステージ解放
            #unlock_all_characters 全キャラクタ解放
            #unlock_all_skills 全スキル解放
            #unlock_everything 何もかも解放
            #wipe 完全初期化
        #title
          ul
            li
              button#game_start.main_menu はじめる
          p
            | 最新のデスクトップブラウザ(IE10+, Firefox, Chrome)でプレイしてください。<br>
            | 古いブラウザやスマートフォン、タブレットでは動作しません。
        #skill_selector
          img#skill_selector_bg
          .prev_character ←
          .next_character →
          .character_desc
          .name
          #skill_selector_container
            ul.skill_list
            button#skill_selector_close 完了
        #tooltip
        #game_clear
          a(href='http://gogatu.itigo.jp/mbp/20150401.html', target='_blank')
            img(src='images/thankyou.png')
      #gamelog
    #templates
      .character
        .help
        .charge
        .multipliers
        .current_attack
        .status_list
        .mp_frame
          .mp_bar
        .popup
          .attribute
          div
            span.name
            | &nbsp;Lv
            span.lv
          div
            | HP:&nbsp;
            span.hp_max
          div.mp
          ul.skills
      .character_grow
        .name
        .exp_bar
        .exp_percentage
        p.changes
          | LV
          span.old_level
          | →
          span.new_level
        p.changes
          | HP
          span.old_hp
          | →
          span.new_hp
      .dice
      .dice_placeholder
      .block
      .enemy
        img.enemy_image
        .enemy_name
        .attribute
        .enemy_hp
          .enemy_hp_bar
          .enemy_hp_value
      .flytext
      .notification
      .balloon
      .phase_message_frame
        .phase_message
      li.chapter
        .title
        .desc
        ul.stage_list
