doctype html
html
  head
    meta(charset='UTF-8')
    title モバマス実録
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/main.js')
    link(rel='stylesheet' href='css/style.css')
  body
    header
      h1 DICE DE モバP!
    #main
      #dicegame
        #gamemode
          #field_container
          #battle
          #treasure
        #stack
        #hp_indicator_container
          #hp_indicator
            .hp_bar
            .hp_value
        #players
    #templates
      .character
        .name
        .hp
        .mp
      button.dice
      .field
      .block
