doctype html
html
  head
    meta(charset='UTF-8')
    title モバマス実録
    script(src='js/lib/jquery-2.1.0.min.js')
    script(src='js/lib/jquery-ui-1.10.4.min.js')
    script(src='js/lib/createjs-2013.12.12.min.js')
    script(src='js/lib/jquery.transit.min.js')
    script(src='js/main.js')
    link(rel='stylesheet' href='css/lib/jquery-ui-1.10.4.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    header
      h1 DICE DE モバP!
    #main
      #gamemode
        #option
        #dicegame
          #field
            canvas#field_canvas
          #battle
            #enemies
            #onboard
          #treasure
          #players
          #stack
            #dice_indicator
              span DICE x
              span.dice_stock
          #hp_indicator_container
            #hp_indicator
              .hp_healbar
              .hp_damagebar
              .hp_bar
              .hp_value
          #stage_end
            #stage_clear
            #stage_failed
        #title
          p
            img#title_logo(src='images/title.png')
          p
            button.main_menu はじめる
      #gamelog
    #templates
      .character
        .name
        .help
        .mp
        .charge
        .multipliers
      .dice
      .block
      .enemy
        img.enemy_image
        .enemy_name
        .enemy_hp
          .enemy_hp_bar
          .enemy_hp_value
      .flytext
