.enemy_appear
  p.kotori ボスが現れた！
  p.yukiho.right ダイスで倒せます。
  p.sae がんばりましょう。
  p.ranko いざ！
.heal
  p.kotori こういうマスに止まると回復するみたい。
.damage
  p.ranko これは毒の沼よ、早く隣の薬草を食べて！
.empty
  p.sae ここだけ敵がいない…。