//
  チュートリアルステージのセリフ、および一部ゲーム内で固定で使われる操作説明のメッセージが含まれています。

.start
  p.kotori こ…ここはどこだろう?
  p.info フィールドでは、ダイスを振って先に進みます。右下のダイスから1つ選択してください。
.stop
  p.kotori ここで一旦止まらないといけないみたい。
  p.info ストップマークのあるマス<span class="block stop" />は強制停止マスです。
  p.info ここを一気に超えることはできません。
.treasure
  p.kotori ダイスが手に入ったよ。なぜか。
  p.info ダイスマス<span class="block treasure" />に止まることで、手持ちのダイスの数を増やせます。
  p.info 逆にダイスの数が減ってしまうマスもあるので注意してください。
  p.info ボスを倒す前に手持ちのダイスがなくなってしまった場合、ステージクリアは失敗となります。HPの管理と同じくらい、ダイスの残量には気をつけましょう。
.damage
  p.kotori いたっ！？
  p.info ダメージマス<span class="block damage" />に止まるとHPが減少してしまいます。出来るだけ避けるようにしましょう。
.heal
  p.kotori ほっ。ここで回復できるみたい。
  p.info 回復マス<span class="block heal" />に止まるとHPが回復します。上手く利用しましょう。
.enemy
  p.kotori アイドルが襲ってきた！　ナンデ？
  p.info バトルマス<span class="block enemy" />に止まると戦闘が始まります。
  p.info 戦闘はターン制で行われます。
  p.info 敵のそばに表示されている2個のダイスと、手持ちのダイスから選択した1個のダイスの目の合計が、そのターンの味方の攻撃力になります。
  p.info ダイスをクリックしてください。
.boss
  p.info ステージの最後<span class="block boss" />にはボスが待ち受けています。<br>ボスを倒せばステージクリアです。
.experience
  p.info ステージをクリアすると、レベルアップに必要な経験値が手に入ります。
  p.info しかしステージのクリアに失敗した場合、そこまでで倒した敵の経験値やアイテムは一切入手できません！

.furafura
  p.kotori こんどは変なマスがいっぱいありますね……。
  p.info
    | 進む<span class="block proceed" />と戻る<span class="block back" />のマスは、
    | その名の通り、その上に止まると強制的に移動させられてしまうマスです。
  p.info 前後のマスとの位置関係をよく確認しながら、どの場所に止まるのが良いか考えましょう。
.furafura2
  p.kotori ほっ、何とか乗り越えました。
  p.info このように、先に進むためには、特定の目のダイスを温存しておく必要があるかもしれません。
  p.kotori これ、なかなか欲しいダイスの目がいつまでも出なかった場合は……
  p.info 運が悪いと思って諦めましょう。
  p.kotori えっ！？
.unlock_stage
  p.info 新しいステージがアンロックされました。ステージをクリアするごとにプレイ可能なステージは増えていきます。
  p.info クリア済みのステージは何度でも繰り返しプレイできます。
  p.info <span style="font-size: 150%">しかもスタドリ不要。</span> やったね！

.need_multiply
  p.kotori おおっ！？　なんだか力がみなぎってきました！
  p.info 唐突ですが、ここでことりPのダイス倍率スキルが解放されました！
  p.info ことりPは、<span class="dice dice5"/>か<span class="dice dice6"/>の目を使った攻撃を行うと、攻撃力が2倍になります。
  p.info 両方の目が出た場合には、攻撃力は4倍になります。
  p.info このステージの敵は、体力が低い代わりに強い攻撃力を持っています。ダイス倍率スキルを使い、短期決戦を行いましょう。
.multiply_hint
  p.info バトルに備えて、ことりPの得意なダイスの目を温存しておくのがコツです。
.skill_item
  p.info 他にも様々なスキルを解放することで、キャラクターを強化できます。
  p.info 今後のスキルの解放には「スキルバッジ」が必要です。
  p.info スキルバッジは、敵を倒すことで稀に手に入ります。

.haruka
  p.kotori わーい、社長だー！
  p.haruka 他の社員もさっき見かけましたよ？
  p.info あらたに<strong>はるかP</strong>が仲間になりました！
  p.info はるかPはヒットポイントが高く、敵の攻撃を防御するスキルを多く取得します。強力な敵と対峙するときには積極的に参戦させましょう。

.skill_selector
  p.info この画面ではキャラクタごとに設定されたスキルの解放を行います。
  p.info スキルには、操作しなくても自動的に発動するパッシブスキルと、コマンドから発動するコマンドスキルがあります。
  p.info コマンドスキルを使用するためにはMPが必要です。
  p.info スキルの解放には、ステージ上で敵を倒すことで稀に手に入るスキルバッジが必要です。ドリンクは全キャラ共通なので配分には気をつけてください。

