.stop
  p.kotori ここで一旦止まらないといけないみたい。
  p ストップマークのあるマスを超えて一気に進むことはできません。
  p 必ず一旦止まる必要があります。
.damage
  p.kotori いたっ！？
  p ダメージマスに止まるとHPが減少してしまいます。出来るだけ避けるようにしましょう。
.heal
  p.kotori ここで回復できるみたい。
  p 回復マスに止まるとHPが回復します。上手く利用しましょう。
.treasure
  p.kotori ダイスが手に入ったよ。
  p ダイスマスに止まることで、手持ちのダイスの数を増やせます。
  p 逆にダイスの数が減ってしまうマスもあるので注意してください。
  p ボスを倒す前に手持ちのダイスがなくなってしまった場合、ステージクリアは失敗となります。