//
  チュートリアルステージのセリフ、および一部ゲーム内で固定で使われる操作説明のメッセージが含まれています。

.start
  p.kotori こ……ここはどこ?
  p.info おめでとう！ うまく意識が転送されたようだ！
  p.kotori え、どういうこと？
  p.info お前がいる場所は、お前の<strong>頭のP</strong>がお前の脳内に投影している仮想空間。そしてそこで生き延びるためにはダイスを使う。
  p.kotori ……話が飲み込めないんですけど…
  p.info 習うより慣れろだ。<strong>画面の右下</strong>にダイスが見えるだろう？　それをクリックして前に進んでくれたまえ。
.stop
  p.kotori あれ、進めないよ？
  p.info ストップマーク<span class="block stop" />が見えるだろう？　それは強制停止マスだ。
  p.info いくら急いでいても、そのマスでは一旦止まる必要があるだろう。
  p.info イベントや攻略の都合というやつだな、ハハハ！
.treasure
  p.kotori ダイスが手に入ったよ。なぜか。
  p.info ダイスマス<span class="block treasure" />に止まることで、手持ちのダイスの数が増やせる。そのままだな！
  p.info ボスを倒す前に手持ちのダイスがなくなってしまった場合、ステージクリアは失敗だ。
  p.info HPの管理と同じくらい、ダイスの残量にも、せいぜい気をつけてくれたまえよ。
.damage
  p.kotori いたっ！？
  p.info ダメージマス<span class="block damage" />に止まったようだな。
  p.kotori そのまんまだね。
  p.info もちろんうかつに止まれば、命はないだろう。
  p.kotori えっ！？　死ぬの？
  p.info 安心したまえ、所詮ゲームだからな、ステージ開始前に戻されるだけだよ。
.heal
  p.kotori ほっ。ここで回復できるみたい。
  p.info 回復マス<span class="block heal" />だ。それ以上の説明は不要だろう。
.enemy
  p.kotori アイドルが襲ってきた！　ナンデ？
  p.info バトルマス<span class="block enemy" />に止まると戦闘が始まる。
  p.info 戦闘はよくあるターン制だ。お前が攻撃すれば、相手も攻撃をしてくる。
  p.info 敵の近くに表示されている2個のダイス。そして、手持ちから自分で選んだ1個のダイス。
  p.info 合計3個のダイスの目の合計が、そのターンのお前の攻撃力だ。
  p.info さあ、好きなダイスを選びたまえ。
.boss
  p.info ステージの最後<span class="block boss" />にはボスが待ち受けている。<br>倒せばめでたくステージクリアだ。
.experience
  p.info おめでとう、これでこのステージはクリアだ。
  p.kotori ほっ、何とかなりました。
  p.info ステージをクリアすれば、レベルアップに必要な経験値を入手できる。
  p.info ただしステージの<strong>クリアに失敗した場合、そこまでで倒した敵の経験値やアイテムは一切入手できない</strong>ので、そのつもりで。
  p.kotori シビアですね。

.unlock_stage
  p.info どうだ、この世界にも慣れてきただろう？
  p.kotori はあ、まあ、モバマスよりはボタンが少なくて楽ですね。ダイスクリックしてるだけだし。
  p.info そんなお前のために新しいステージを解放してやろう。ステージをクリアするごとにプレイ可能なステージは増えていく。
  p.kotori モバマスのお仕事みたいなものですね。
  p.info クリア済みのステージは何度でも繰り返しプレイしてもよい。
  p.info しかも<strong>スタドリ不要</strong>だ。どうだ、無課金にも優しい仕様だろう？
  p.kotori そりゃ、どうも。

.furafura
  p.info さて、次のステージだ。
  p.kotori こんどは変なマスがいっぱいありますね……。
  p.info
    | 進む<span class="block proceed" />と戻る<span class="block back" />のマスは、
    | その名の通り、その上に止まると強制的に移動させられてしまうマスだ。
  p.info 前後のマスとの位置関係をよく確認しながら、どの場所に止まるのが良いか考えたまえ。
.furafura2
  p.kotori ほっ、何とか乗り越えました。
  p.info このように、先に進むためには、特定の目のダイスを温存しておく必要も出てくるだろう。
  p.kotori これ、運が悪くてなかなか欲しいダイスの目が出なかった場合は……
  p.info その時はすっぱりと諦めて、最初からやり直すことだな。
  p.kotori やっぱり……。
  p.info <strong>スタドリ不要</strong>で何度でも挑めるのだ。問題なかろう？
  p.kotori う～。

.need_multiply
  p.kotori おおっ！？　なんだか力がみなぎってきました！
  p.info ジャジャーン！　唐突ですが、ここでことりPのダイス倍率スキルが解放されました！
  p.kotori ……。
  p.info ……コホン。お前の場合は、<span class="dice dice5"/>か<span class="dice dice6"/>の目を使った攻撃を行うと、攻撃力が<strong>2倍</strong>になる。
  p.info 両方の目が出た場合には、攻撃力は<strong>4倍</strong>だ。
  p.kotori いきなり4倍って、なかなか大味なバランスですね。
  p.info ムッ。だが油断しないことだな。このステージの敵は、体力が低い代わりに、かなり強い攻撃力を持っている。
  p.info ダイス倍率スキルを使い、短期決戦を行う必要があるだろう。計画的に進んでくれたまえ。
.multiply_hint
  p.info どうだ？　攻撃用のダイスは足りているか？
  p.info バトルに備えて、必要なダイスの目を温存しておくのがコツだぞ。
.skill_item
  p.kotori ほっ、何とか勝てました。
  p.info ご苦労だった。お前達は、他にも様々な<strong>スキル</strong>を身につけることができる。
  p.kotori おお、RPGっぽい！
  p.info ただし、今後のスキルの解放には<strong>スキルバッジ</strong>というアイテムが必要だ。
  p.info スキルバッジは、敵を倒すことで稀に手に入るだろう。入手個数に制限はないが、貴重なものなので考えて使うように。
  p.info なお、<strong>課金で入手することはできない</strong>からな。地道な努力が実を結ぶのだよ。ハハハ！

.haruka_found
  p.kotori あれ、あそこにいるのは、もしかして？
.haruka
  p.kotori わーい、社長だー！
  p.haruka ごきげんよう。ことりPもこのゲームに飛ばされてきたの？
  p.info <strong>はるかP</strong>が仲間になったようだな。
  p.info はるかPはヒットポイントが高く、敵の攻撃を防御するスキルを多く取得する。
  p.info 強力な敵と対峙するときには積極的に参戦させると良いだろう。
.tutorial_end
  p.kotori け、結構大変でしたね……。
  p.info 味方が強くなれば敵も強くなる無間地獄。RPGのお約束だな。
  p.info さて、ここからは私の説明は不要だろう。ここからは自分たちで進んでくれ。名残惜しいが、お前達ならきっt
  p.kotori （ぷちっ）
  p.kotori さて！　ルールも覚えたことだし、敵さんを倒しに行きましょう！　目指すはお城！

.skill_selector
  p.info ここではキャラクタごとに設定されたスキルの解放を行う。
  p.info スキルには、操作しなくても自動的に発動するパッシブスキルと、コマンドから発動するコマンドスキルがある。
  p.info スキルの解放には、ステージ上で敵を倒すことで稀に手に入るスキルバッジが必要だ。スキルバッジは全キャラ共通なので配分には気をつけるように。では健闘を祈る。

