.start
  p.kotori こ…ここはどこだろう?
  p.info フィールドでは、ダイスを振って先に進みます。右下のダイスから1つ選択してください。
.stop
  p.kotori ここで一旦止まらないといけないみたい。
  p.info ストップマークのあるマス<span class="block stop" />は強制停止マスです。
  p.info ここを一気に超えることはできません。
.treasure
  p.kotori ダイスが手に入ったよ。なぜか。
  p.info ダイスマス<span class="block treasure" />に止まることで、手持ちのダイスの数を増やせます。
  p.info 逆にダイスの数が減ってしまうマスもあるので注意してください。
  p.info ボスを倒す前に手持ちのダイスがなくなってしまった場合、ステージクリアは失敗となります。HPの管理と同じくらい、ダイスの残量には気をつけましょう。
.damage
  p.kotori いたっ！？
  p.info ダメージマス<span class="block damage" />に止まるとHPが減少してしまいます。出来るだけ避けるようにしましょう。
.heal
  p.kotori ほっ。ここで回復できるみたい。
  p.info 回復マス<span class="block heal" />に止まるとHPが回復します。上手く利用しましょう。
.enemy
  p.kotori アイドルが襲ってきた！　ナンデ？
  p.info バトルマス<span class="block enemy" />に止まると戦闘が始まります。
  p.info 戦闘はターン制で行われます。
  p.info 敵のそばに表示されている2個のダイスと、手持ちのダイスから選択した1個のダイスの目の合計が、そのターンの味方の攻撃力になります。
  p.info ダイスをクリックしてください。
.boss
  p.info ステージの最後<span class="block boss" />にはボスが待ち受けています。<br>ボスを倒せばステージクリアです。
.furafura
  p.kotori こんどは変なマスがいっぱいあるよ。
  p.info
    | 進む<span class="block proceed" />と戻る<span class="block back" />のマスは、
    | その名の通り、その上に止まると強制的に移動させられてしまうマスです。
  p.info 前後のマスとの位置関係をよく確認しながら、どの場所に止まるのが良いか考えましょう。
  p.info 先に進むために、特定の目のダイスを温存しておく必要があるかもしれません。
.unlock_stage
  p.info 新しいステージがアンロックされました。ステージをクリアするごとにプレイ可能なステージは増えていきます。
  p.info クリア済みのステージは何度でも繰り返しプレイできます。
  p.info <span style="font-size: 150%">しかもスタドリ不要。</span> やったね！
.need_multiply
  p.info このステージでは、強い攻撃力を持った敵が登場します。
  p.info ことりPのスキルを使い、攻撃される前に乗り切りましょう。
  p.info ことりPは、<span class="dice dice5"/>または
    | <span class="dice dice6"/>のダイスの目を使った攻撃を行うと、攻撃力が2倍になります。
  p.info 両方の目が揃っていれば、攻撃力は2×2で4倍になります！
.multiply_hint
  p.info バトルに備えて、ことりPの得意なダイスの目を温存しておくのがコツです。